body {
	background-image:url("../img/myazaki mashup.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

.banner {
	background-color:black;
	color:white;
	text-align:center;
	font-size:50px;
}

.smallBanText {
	font-size:25px;
}