body {
	background-color: #3a536d; /*Default bg, similar to the background's base color*/
	background-image:url("../img/cat stuff, i guess.jpg");
	background-position: right bottom; /*Positioning*/
	background-repeat: no-repeat; /*Prevent showing multiple background images*/
}

A:link {color: #aacccc; text-decoration: underline}
A:visited {color: #aacccc; text-decoration: underline}
A:active {background: #FFCC00; text-decoration: underline}
A:hover {background: #FFCC00; font-weight:bold; color: blue;}

.stretch {
	width:100%;
	height:100%;
}

.movieHeader {
	text-align: center; 
	color: #aacccc; 
	font-size: 20;
}